*~
*.pyc
*.elc
Pymacs.py
build
contrib/Giorgi/Pymacs/__init__.py
contrib/Giorgi/rpcTest.py
contrib/Giorgi/rpcserver.py
contrib/Giorgi/setup.py
contrib/rebox/Pymacs/__init__.py
contrib/rebox/setup.py
pppp.rst
pppp.pdf
pymacs.el
pymacs.pdf
pymacs.rst
pymacs.wpu
tests/debug-*
tests/pytest
tests/setup.py
tests/t11_pyfile_works.py
tests/t21_helper_works.py
tests/t31_elfile_works.py
tests/t41_pymacs_works.py
