include ChangeLog
include ChangeLog-rebox
include MANIFEST.in
include Makefile
include Pymacs/__init__.py
include Pymacs/rebox.py
include README
include THANKS
include THANKS-rebox
include TODO
include pymacs-services
include pymacs.el
include pymacs.py
include rebox
include setup
include setup.py
